<!--
	<div class="hireme">I'm looking for job in London. <a href="http://www.linkedin.com/in/PabloCantero">Hire me!</a></div>
-->
<div id="content">
	<h1>Puts Mail</h1>
	<h2>It's a mail test tool to test your mails before sending them</h2>

	<p>
		The main idea of this tool is to test HTML mails that will be sent as campaigns, newsletters and others (please, don't use it to spam, help us to make a better world)
	</p>
	<p>
		<label for="to">* To</label><br/>
		<input type="text" id="to" class="inputText"  value="<%=@to%>">&nbsp;<input type="button" id="sendToken" onclick="PutsMail.sendToken();" value="Send token" class="inputButton"> 
	</p>
	<p>
		<label for="subject">Subject</label><br/>
		<input type="text" id="subject" class="inputText" value="Puts Mail - Test">
	</p>
	<p>
		<label for="token">* Token</label> (<a href="#what_is_the_token" title="What is the Token?">what is it?</a>)<br/>
		<input type="text" id="token" class="inputText" value="<%=@token%>">
	</p>
	<div id="columns">
		<div id="left">
			<p>
				<label for="body">* Body (paste your mail body here)</label><br/>
				<textarea id="body"></textarea>
			</p>
		</div>
		<div id="right">
			<h3>Recommendations</h3>
			<ul>
				<li>Do not use JavaScript</li>
				<li>Write all css content inside this body. <a href="http://premailer.dialect.ca/" title="Go to Premailer's Demo Page">For the best results, CSS should be inline</a></li>
				<li>Check if all image sources are available online. You can use many free services to upload your images like <a href="http://imageshack.us" title="Go to Image Shack">Image Shack</a></li>
				<li><a href="#donate_to_this_project" title="Donate to this project">Donate to this project</a></li>
				<li><a href="#more_recommendations" title="Take a look at more recommendations">More recommendations</a></li>
			</ul>
			<div class="box_counter_header">
				Users
				<div class="box_counter_body">
					<%=@users_counter%>
				</div>
			</div>
			<div class="box_counter_header">
				Sent mail
				<div class="box_counter_body" id="mail_counter">
					<%=@mail_counter%>
				</div>
			</div>
		</div>
	</div>
	<div id="premailer_log">&nbsp;</div>
	<p>
		Have you already <a href="#share_with_friends" title="Share with friends">share</a> PutsMail with your friends? Please help to improve this tool, if you have any <a href="#about" title="Help to improve this tool">doubt or suggestion</a>, <a href="http://pablocantero.com/blog/contato/" title="Leave a message">contact me</a>. <a href="#donate_to_this_project" title="Support this project. Donate!">Donate?</a>
	</p>
	<p>
		<input type="button" onclick="PutsMail.preview();" value="Preview" class="inputButton"/> | 
		<input type="button" id="premailer" value="Premailer!" class="inputButton" onclick="PutsMail.premailer();"/> |
		<input type="button" id="sendMail" value="Send mail" class="inputButton" onclick="PutsMail.putsMail();"/>
	</p>
	<p>
		<a href="#what_is_premailer" title="What is Premailer?">What is Premailer?</a>
	</p>
	<%=render 'faq'%>
</div>